APP_NAME=Barbershop_System
APP_BASE_PATH=/sistema_barbearia/backend/
APP_BASE_URL=https://sistema_barbearia/backend/

DB_HOST=localhost
DB_NAME=barbershop_system
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="atendimento@barbershop.com.br"
MAIL_FROM_NAME="Atendimento Barbearia"

TOKEN_KEY=base64:11