# Nome da aplicação
APP_NAME=Barbershop_System

# Caminho base da aplicação no servidor
APP_BASE_PATH=/sistema_barbearia/backend/

# URL base para acessar a API
APP_BASE_URL=https://sistema_barbearia/backend/

# Configurações do banco de dados
DB_HOST=localhost       # Host do banco de dados
DB_NAME=barbershop_system   # Nome do banco de dados
DB_USERNAME=root        # Usuário do banco
DB_PASSWORD=            # Senha do banco

# Configurações do servidor de e-mail (para envio de notificações, e-mails de confirmação etc.)
MAIL_HOST=              # Host do servidor SMTP
MAIL_PORT=2525          # Porta do servidor SMTP
MAIL_USERNAME=null      # Usuário para autenticação SMTP
MAIL_PASSWORD=null      # Senha para autenticação SMTP
MAIL_FROM_ADDRESS="atendimento@barbershop.com.br"  # Endereço de e-mail do remetente
MAIL_FROM_NAME="Atendimento Barbearia"             # Nome exibido como remetente

# Chave secreta para geração e validação de tokens JWT
TOKEN_KEY=base64:11